In [1]:
import numpy as np 
import pandas as pd    
import seaborn as sns
import matplotlib.pyplot as plt
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules
import mlxtend as ml
print('MXTend Version: %s' % ml.__version__)
print('Pandas Version: %s' % pd.__version__)
print('Numpy Version: %s' % np.__version__)

MXTend Version: 0.21.0
Pandas Version: 1.4.4
Numpy Version: 1.21.5

In [2]:
df = pd.read_csv('ba.csv')
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

# FP Growth Algorithm

The FP-Growth Algorithm is an alternative way to find frequent item sets without using candidate generations, thus improving performance. For so much, it uses a divide-and-conquer strategy. The core of this method is the usage of a special data structure named frequent-pattern tree (FP-tree), which retains the item set association information.

In [3]:
fpgrowth(df,min_support=0.15)

      support itemsets
0    0.421421     (15)
1    0.420420     (14)
2    0.410410      (7)
3    0.409409     (12)
4    0.407407      (4)
..        ...      ...
131  0.169169   (3, 6)
132  0.182182  (6, 15)
133  0.180180   (4, 6)
134  0.168168  (13, 6)
135  0.157157   (5, 6)

[136 rows x 2 columns]

In [16]:
frequent_itemsets=fpgrowth(df,min_support=0.2,use_colnames=True)
frequent_itemsets

     support                itemsets
0   0.421421             (chocolate)
1   0.420420                (Yogurt)
2   0.410410             (Ice cream)
3   0.409409                 (Sugar)
4   0.407407                  (Corn)
5   0.398398                  (Dill)
6   0.384384                 (Bread)
7   0.405405                  (Milk)
8   0.420420                (Butter)
9   0.383383                 (Apple)
10  0.404404                (Cheese)
11  0.403403                 (Onion)
12  0.401401                (Nutmeg)
13  0.389389               (Unicorn)
14  0.408408          (Kidney Beans)
15  0.384384                  (Eggs)
16  0.202202  (Ice cream, chocolate)
17  0.207207     (Ice cream, Butter)
18  0.211211       (chocolate, Milk)
19  0.202202     (Butter, chocolate)
20  0.200200  (Kidney Beans, Cheese)
21  0.202202  (Butter, Kidney Beans)

In [17]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.30)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Ice cream),(chocolate),0.410410,0.421421,0.202202,0.492683,1.169098,0.029246,1.140467
1,(chocolate),(Ice cream),0.421421,0.410410,0.202202,0.479810,1.169098,0.029246,1.133412
2,(Ice cream),(Butter),0.410410,0.420420,0.207207,0.504878,1.200889,0.034662,1.170579
3,(Butter),(Ice cream),0.420420,0.410410,0.207207,0.492857,1.200889,0.034662,1.162571
4,(chocolate),(Milk),0.421421,0.405405,0.211211,0.501188,1.236263,0.040365,1.192021
5,(Milk),(chocolate),0.405405,0.421421,0.211211,0.520988,1.236263,0.040365,1.207857
6,(Butter),(chocolate),0.420420,0.421421,0.202202,0.480952,1.141262,0.025028,1.114693
7,(chocolate),(Butter),0.421421,0.420420,0.202202,0.479810,1.141262,0.025028,1.114169
8,(Kidney Beans),(Cheese),0.408408,0.404404,0.200200,0.490196,1.212143,0.035038,1.168284
9,(Cheese),(Kidney Beans),0.404404,0.408408,0.200200,0.495050,1.212143,0.035038,1.171583
10,(Butter),(Kidney Beans),0.420420,0.408408,0.202202,0.480952,1.177626,0.030499,1.139764
11,(Kidney Beans),(Butter),0.408408,0.420420,0.202202,0.495098,1.177626,0.030499,1.147905

In [18]:
%timeit fpgrowth(df, min_support=0.2)

24.5 ms ± 1.25 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)